/*Support Part CSS*/


.support-image{
    text-align: center;
    background: #8EB53E;
    height: 130px;
    width: 130px;
    border: 7px solid #dedede;
}

.iconn{
	font-size: 79px;
    padding-top: 18%;
    color: #fff;
}

.supportPart{
	
}









/*Support Part CSS*/